*{
	font-family: "arial", monospace;
	font-size:15px;
}

.external {
	color: yellow;
}

h1 {
	font-size: 40px;
}

h2 {
	text-transform: uppercase;
}

.learnings {
	background-color: #b0d4a4;
}

li[value="tools"] {
	border: 1px solid #a0b4cc;
}

img + ul {
	list-style-type: none;
}

main img {
	max-width: 7%;
	border-radius: 50%;
}

ul ~ p {
	text-align: center;
}

ul > li {
	letter-spacing: 5px;
}